<h2>
	{{focus.name}}
</h2>

<star-rating logged-in="loggedIn" item="focus"></star-rating>

<div class="share">
	<a id="fb" target="_blank" ng-href="{{share.facebook()}}">
		<i class="fa fa-facebook-square"></i>
	</a>
	<a id="twitter" target="_blank" ng-href="{{share.twitter()}}">
		<i class="fa fa-twitter-square"></i>
	</a>
	<a id="gplus" target="_blank" ng-href="{{share.googlePlus()}}">
		<i class="fa fa-google-plus-square"></i>
	</a>
</div>

<!--<ul>
	<li>
		{{focus.date}}
	</li>
	<li>
		{{focus.amount}}
	</li>
</ul>-->
