<div class="rate-stub" ng-class="{rated: item.hasRating, fixed: fixed}">
  <span class="ratings">
    <span class="rating">
      <i ng-repeat="star in stars" ng-class="starClass(item, star)"></i>
    </span>
    <span class="apply-rating">
      <i ng-repeat="star in stars" class="fa fa-star" ng-click="rateProject(item, star)"></i>
      <!-- <a ng-if="!loggedIn" target="_self" href="/login">Sign up / Log in to rate!</a> -->
    </span>
  </span>
  <span class="num-rates">({{item.ratings}} rating<span ng-if="item.ratings != 1">s</span>)</span>
</div>
