::-webkit-scrollbar
  @include transition(all 0.2s)
  width: 8px
  position: relative
  left: -8px
::-webkit-scrollbar-track 
  background-color: rgba(black, 0.1) 
  // border-right: 1px solid rgba(black, 0.1)
  // border-left: 1px solid rgba(black, 0.1)
::-webkit-scrollbar-thumb  
  background-color: rgba(black, 0.2) 
  border-radius: 4px
::-webkit-scrollbar-thumb:hover  
  background-color: rgba(black, 0.6)
