@import bourbon/bourbon
@import neat/neat
@import font-awesome/font-awesome

$color: #0FF
$accent: lighten(desaturate(teal, 60%), 20%)
$font: "Proxima Nova", "proxima-nova", "Gotham HTF", "Helvetica Neue"

=reset-button
	background: transparent
	border-width: 0px
	font-family: $font
	padding: 0px
	outline: none
	outline-color: transparent
	color: #333

=reset-textarea
	outline: none
	outline-color: transparent

body
	+reset-and-normalize
	margin: 0px
	font-family: $font
	color: #333
	line-height: 1.4

	a
		color: #333

	h2
		font-size: 36px
		font-weight: 100

	h3
		font-size: 24px

	h4
		font-weight: bold
		margin-bottom: 10px

	input
		outline: none
		outline-color: transparent
		border: 1px solid rgba(black, 0.1)
		border-radius: 3px
		padding: 6px
		font-family: $font
		margin-bottom: 10px

	.monospace
		font-family: $monospace
		font-weight: bold

	.italic
		font-style: oblique

	.numeric
		text-align: right
	.de-em
		font-size: 14px
		color: #aaa

h1 
	// color: $color

header
	height: 64px
	box-shadow: 0px 1px 0px rgba(black, 0.05)
	position: relative
	z-index: 1003
	nav
		ul
			+reset-list
			li
				float: left
				padding: 20px
				height: 65px
				a
					text-decoration: none

				&.current
					background-color: teal
					a 
						color: white
	nav.right
		float: right

#login-signup
	+outer-container
	padding-top: 64px
	h2
		margin-left: 6px
	.section
		+span-columns(3)
	#signup
		+shift(3)
	button
		+button

main
	+fill-parent
	+clearfix
	position: absolute
	top: 64px
	bottom: 0px

	#click-instructions
		position: absolute
		top: 64px
		left: 20px
		right: 20px
		z-index: 1003
		padding: 10px
		background-color: rgba(white, 0.6)

	.rating-group
		margin-bottom: 10px
		&.ratable i
			color: #EB0
		.apply-rating
			display: none
			i:hover
				cursor: pointer
				~ i
					&:before
						content: "\f006"
		&.ratable .rating:hover
			.apply-rating
				display: inline
			.current-rating
				display: none

	#sidebar
		// +span-columns(1 of 3, "block-collapse")
		width: 33%
		background-color: white
		position: absolute
		bottom: 0px
		top: 0px
		overflow-y: scroll
		overflow-x: hidden

		nav
			width: 100%
			padding: 20px
			border-bottom: 1px solid rgba(black, 0.05)
			position: relative
			.back
				width: 200px
				overflow: hidden
				white-space: nowrap
				text-overflow: ellipsis
				display: block
			button.filter-button
				+reset-button
				float: right
				line-height: 22px
				text-transform: capitalize
			a, button.filter-button
				+transition(all 0.3s)
				color: #ccc
				text-decoration: none
				&:hover, &.active
					color: #333

		.data
			padding: 20px
			border-bottom: 1px solid rgba(black, 0.05)
			.share
				margin-bottom: 20px
				button
					+reset-button
					&#point
						float: right
						margin-top: -4px
						margin-left: 6px
					&:hover, &.active
						color: orange
				a
					text-decoration: none
					i 
						font-size: 24px
					&#fb:hover
						color: #44619D
					&#twitter:hover
						color: #00ACEE
					&#gplus:hover
						color: #DC4B39
					&.show-hide
						display: block
						margin-bottom: 20px
						float: right
						&:hover, &.active
							color: teal
							text-decoration: underline
						
			.rating
				margin-bottom: 10px
			
			.moolah
				padding: 10px
				margin-left: -10px
				background-color: rgba(wheat, 0.8)
				border: 1px solid darken(wheat, 5%)
				color: darken(wheat, 60%)
				border-radius: 3px
				margin-bottom: 10px
				.total
					margin-bottom: 20px
			ul
				+reset-list
				+fill-parent
				// margin-top: 40px
				li
					margin-bottom: 10px
					h5
						font-size: 12px
						font-weight: bold
						color: rgba(black, 0.3)


		.sort-n-filter
			padding: 20px
			border-bottom: 1px solid #ddd
			button
				+reset-button

		ul.children
			+reset-list
			+fill-parent
			li
				+transition(all 0.4s)
				padding: 20px
				border-bottom: 1px solid rgba(black, 0.05)
				&:hover, &.active
					background-color: #eee
				a
					display: block

	#main-view
		width: 67%
		margin-left: 33%
		position: absolute
		top: 0px
		bottom: 0px
		#map
			width: 100%
			height: 100%

		.panel
			.content
				+box-sizing(border-box)
				+position(absolute, 0px 0px 0px 0px)
				border-left: 1px solid rgba(black, 0.1)
				z-index: 1001
				background-color: $accent
				overflow-x: hidden
				overflow-y: scroll
				.close
					+reset-button
					float: right
				.header
					padding: 20px


		#filter-view
			.header
				padding-bottom: 0px
			.content
				width: 256px

				ul
					+reset-list
					padding: 20px
					margin-left: -6px
					li
						button
							+reset-button
							padding: 4px 6px 4px 6px
							border-radius: 3px
							color: #333
							text-transform: capitalize
							&:hover
								color: white
							&.active
								background-color: #333
								color: white

		#comment-view
			.content
				width: 384px
				ul
					+reset-list
			.comments
				// position: relative
				ul
					+reset-list
			.user-comment
				padding: 20px
				border-bottom: 1px solid rgba(0,0,0,0.1)
				button
					+button
					outline: none
					outline-color: transparent

				textarea
					+reset-textarea
					width: 100%
					max-width: 100%
					min-height: 72px
					max-height: 72px
					padding: 6px
					margin: 0px -6px 10px -6px
					font-family: $font
					border-radius: 3px
					border-width: 0px
					box-shadow: 0px 0px 0px 1px rgba(black,0.1)
					&+button
						margin-left: -6px
			.empty
				padding: 20px

			.comment
				padding: 20px
				border-bottom: 1px solid rgba(0,0,0,0.05)
				background-color: rgba(white, 0.2)
				.user
					color: rgba(black, 0.5)
				.timestamp
					float: right
					color: rgba(black, 0.5)
					font-size: 14px
