@import bourbon/bourbon
@import neat/neat
@import font-awesome/font-awesome

@import mixins
@import variables
// @import scrollbar
@import comments

body
	+reset-and-normalize
	margin: 0px
	font-family: $font
	color: #333
	line-height: 1.4
	background-color: #eee

	a
		color: #333

	h2
		font-size: 36px
		font-weight: 100
		margin-bottom: 20px

	h3
		font-size: 24px

	h4
		font-weight: bold
		margin-bottom: 10px

	input
		outline: none
		outline-color: transparent
		border: 1px solid rgba(black, 0.1)
		border-radius: 3px
		padding: 6px
		font-family: $font
		margin-bottom: 10px

	.monospace
		font-family: $monospace
		font-weight: bold

	.italic
		font-style: oblique

	.numeric
		text-align: right
	.de-em
		font-size: 14px
		color: #aaa

	ul
		list-style: none
		padding: 0

	button
		+reset-button()

// .label
	// background-color: rgba(black, 0.1)
	// padding: 6px 8px 4px 8px

header
	height: 64px
	box-shadow: 0px 1px 0px rgba(black, 0.05)
	background-color: $accent
	position: relative
	z-index: 1010
	text-transform: capitalize
	nav
		ul
			+reset-list
			li
				float: left
				a
					+transition(all 0.2s)
					float: left
					display: block
					text-decoration: none
					color: desaturate(lighten($accent, 40%), 60%)
					padding: 20px
					height: 64px
					&:hover
						color: white

				&.current
					background-color: darken($accent, 5%)
					a 
						color: white
				

	nav.right
		float: right

#login-signup
	+outer-container
	padding-top: 64px
	h2
		margin-left: 6px
	.section
		+span-columns(3)
	#signup
		+shift(3)
	button
		+button

section#filters
	+span-columns(3)
	display: none
	$margin: 4px
	padding: 20px
	background-color: rgba(black, 0.05)
	.group
		margin-bottom: 40px
	ul
		margin: 0 -$margin
	button
		+reset-button()
		padding: 2px $margin 2px $margin
		&.active
			background-color: #333
			color: white
			border-radius: 2px

section#projects
	// +span-columns(9)
	+fill-parent()
	background-color: #eee
	padding: 20px
	&.grid
		.card
			+span-columns(3 of 12)
			+omega(4n)

	&.list
		.card
			+fill-parent()

.result-label
	color: #ccc
	margin-top: 20px
	text-align: center
	font-weight: 300
	margin-bottom: 40px
	margin-top: 20px
	button
		+transition(all 0.2s)
		font-weight: 300
		color: #333
		text-transform: capitalize
		padding: 6px 0px
			// font-weight: bold
		&:hover
			box-shadow: 0px 1px 0px #333
		&.active, &.active:hover
			background-color: #333
			color: white
			padding: 6px 8px
			box-shadow: none

.filter
	+clearfix()
	+transition(height 0.4s)
	$margin: 4px
	padding: 20px
	background-color: rgba(black, 0.05)
	ul
		+columns(6 20px)
		margin: 0 -$margin
		.item
			display: block
			button
				padding: 2px $margin 2px $margin
				&.active
					background-color: #333
					color: white
					border-radius: 2px

.modifiers
	+clearfix()
	padding: 10px
	margin-bottom: 20px
	background-color: rgba(black, 0.1)
	// background-color: #333
	// color: white
	.reverse
		padding: 8px 10px
	.sorts
		float: left
		&.active
			background-color: #333
			color: white
	.view-mode
		float: right
		button
			+transition(all 0.2s)
			padding: 10px
			color: #999
			&.active, &:hover
				color: #333
			// color: white
.card
	background-color: white
	// margin: 10px
	padding: 20px
	margin-bottom: 20px
	box-shadow: 0px 2px 2px rgba(black, 0.1)
	text-decoration: none

main
	+outer-container
	+clearfix
	// position: absolute
	// top: 64px
	// bottom: 0px

	#click-instructions
		position: absolute
		top: 64px
		left: 20px
		right: 20px
		z-index: 1003
		padding: 10px
		background-color: rgba(white, 0.6)

	.rating-group
		margin-bottom: 10px
		&.ratable i
			color: #EB0
		.apply-rating
			display: none
			i:hover
				cursor: pointer
				~ i
					&:before
						content: "\f006"
		&.ratable .rating:hover
			.apply-rating
				display: inline
			.current-rating
				display: none

#projects


#sidebar
	// +span-columns(1 of 3, "block-collapse")
	// width: 40%
	background-color: white
	// position: absolute
	// bottom: 0px
	// top: 0px
	// overflow-y: scroll
	// overflow-x: hidden
	// z-index: 1005
	+media($mobile)
		width: 100%
		// margin-top: 50%
		overflow-y: auto
		position: relative

	nav
		width: 100%
		padding: 20px
		border-bottom: 1px solid rgba(black, 0.05)
		position: relative
		+clearfix()
		.back
			width: 128px
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			display: block
		button.filter-button
			+reset-button
			// float: right
			line-height: 22px
			text-transform: capitalize
		a, button.filter-button
			+transition(all 0.3s)
			color: #ccc
			text-decoration: none
			&:hover, &.active
				color: #333

	.data
		padding: 20px
		border-bottom: 1px solid rgba(black, 0.05)
		.share
			margin-bottom: 20px
			button
				+reset-button
				&#point
					float: right
					margin-top: -4px
					margin-left: 6px
				&:hover, &.active
					color: orange
			a
				text-decoration: none
				i 
					font-size: 24px
				&#fb:hover
					color: #44619D
				&#twitter:hover
					color: #00ACEE
				&#gplus:hover
					color: #DC4B39
				&.show-hide
					display: block
					margin-bottom: 20px
					float: right
					&:hover, &.active
						color: teal
						text-decoration: underline
					
		.rating
			margin-bottom: 10px
		
		.moolah
			padding: 10px
			margin-left: -10px
			margin-right: -10px
			background-color: rgba(wheat, 0.8)
			border: 1px solid darken(wheat, 5%)
			color: darken(wheat, 60%)
			border-radius: 3px
			margin-bottom: 10px
			.total
				margin-bottom: 20px
		ul
			+reset-list
			+fill-parent
			// margin-top: 40px
			li
				margin-bottom: 10px
				h5
					font-size: 12px
					font-weight: bold
					color: rgba(black, 0.3)


	.sort-n-filter
		padding: 20px
		border-bottom: 1px solid #ddd
		button
			+reset-button

	ul.children
		+reset-list
		+fill-parent
		li
			+transition(all 0.4s)
			padding: 20px
			border-bottom: 1px solid rgba(black, 0.05)
			&:hover, &.active
				background-color: #eee
			a
				display: block

#main-view
	width: 60%
	margin-left: 40%
	position: absolute
	top: 0px
	bottom: 0px
	+media($mobile)
		width: 100%
		height: 50%
		margin-left: 0
		position: relative
	#map
		width: 100%
		height: 100%

.panel
	.content
		+media($mobile)
			// .content
				// +position(absolute, 0px 0px 0px 0px)
			position: relative
			z-index: 1006
			width: 100% !important
			overflow-y: visible
		+box-sizing(border-box)
		+position(absolute, 0px 0px 0px 0px)
		border-left: 1px solid rgba(black, 0.1)
		z-index: 1001
		background-color: #efefef
		overflow-x: hidden
		overflow-y: scroll
		.close
			+reset-button
			float: right
		.header
			padding: 20px
			padding-bottom: 0px


#filter-view
	.content
		width: 256px

		ul
			+reset-list
			padding: 20px
			margin-left: -6px
			li
				button
					+reset-button
					padding: 4px 6px 4px 6px
					border-radius: 3px
					color: #333
					text-transform: capitalize
					&:hover
						color: $accent
					&.active
						background-color: #333
						color: white

	
