@(signupForm: Form[budget.models.User], loginForm: Form[budget.models.User], currentUser: budget.models.User)

@import helper._

@main("signup", currentUser) {
  <div id="signup">
  	@form(action = routes.Application.signup) {

  		<h1>Sign up</h1>

      @inputText(
        signupForm("handle"),
        '_label -> "Username",
        '_error -> signupForm.globalError,
        '_showConstraints -> false,
        'placeholder -> "Username",
        '_label -> ""
      )

      @inputText(
        signupForm("email"),
        '_error -> signupForm.globalError,
        '_showConstraints -> false,
        'placeholder -> "Email Address",
        '_label -> ""
      )

      @inputPassword(
        signupForm("passwords.first"),
        '_error -> signupForm.error("passwords.first"),
        '_showConstraints -> false,
        'placeholder -> "Password",
        '_label -> ""
      )

      @inputPassword(
        signupForm("passwords.second"),
        '_error -> signupForm.error("passwords.second"),
        '_showConstraints -> false,
        'placeholder -> "Confirm Password",
        '_label -> ""
      )

      <button type="submit">Sign up</button>

  	}

  	@form(action = routes.Application.login) {

  		<h1>Log in</h1>

  		@inputText(
  		  loginForm("hp.handle"),
  		  '_showConstraints -> false,
  		  'placeholder -> "Username",
  		  '_label -> "",
  		  'autofocus -> "true"
  		)

  		@inputPassword(
  		  loginForm("hp.password"),
  		  '_error -> loginForm.globalError,
  		  '_showConstraints -> false,
  		  'placeholder -> "Password",
  		  '_label -> ""
  		)

      <button type="submit">Log in</button>

  	}
  </div>
    
}
