@(currentUser: budget.models.User)

@main("map", currentUser){

	<div ng-controller="App">

		<section>
			<main>
				<div id="sidebar">
					<nav>
						<a ui-if="focus.parent" ng-href="{{parentLink(focus)}}" ng-click="navUp()">
							<i class="fa fa-chevron-left"></i>
							{{focus.parent.name}}
						</a>
						<span ui-if="!focus.parent">
							Top level
						</span>
						<button class="filter-button" ng-click="toggleFilters()" ng-class="{active:filtersVisible}">
							{{activeFilter || 'Showing All'}}
							<i class="fa fa-filter"></i>
						</button>
					</nav>

					<div ui-if="focus.kind == 'loc'">
						<div ng-include="'/assets/templates/locDetail.html'" 
							class="data">
						</div>
					</div>
					<div ui-if="focus.kind == 'leaf'">
						<div ng-include="'/assets/templates/leafDetail.html'" 
							class="data">
						</div>
					</div>

					<ul class="children">
						<li ng-repeat="child in focus.children.locs"
							ng-include="'/assets/templates/locStub.html'">
						</li>
						<li ng-repeat="child in focus.children.leaves | filter:appearsInActiveFilter"
							ng-include="'/assets/templates/leafStub.html'">
						</li>
					</ul>
				</div>

				<div id="main-view">
					<div id="map">
					</div>
					<div id="filter-view" class="modal" ng-show="filtersVisible">
						<div class="content">
							<div class="header">
								<button class="close" ng-click="toggleFilters()">
									<i class="fa fa-times"></i>
								</button>
								<h3>
									Filters
								</h3>
							</div>
							<ul>
								<li ng-repeat="(catName, cat) in cats">
									<button ng-click="toggleFilter(catName)" ng-class="{active:activeFilter == catName}">
										{{catName}}
										<i class="fa fa-times" ng-show="activeFilter == catName"></i>
									</button>
								</li>
							</ul>
						</div>
					</div>
					<div id="comment-view" class="modal" ng-show="commentsVisible">
						<div class="content">
							<div class="header">
								<button class="close" ng-click="toggleComments()">
									<i class="fa fa-times"></i>
								</button>
								<h3>
									Comments on {{focus.fpapDsc}}
								</h3>
							</div>

							<div class="user-comment">
								<a ui-if="!loggedIn" target="_self" href="@routes.Application.account">
									Sign up / Log in to comment!
								</a>
								<form ui-if="loggedIn" ng-submit="submitComment()">
									<h4>Comment:</h4>
									<textarea placeholder="Please be civil!" ng-model="comment.input"></textarea>
									<button type="submit">Submit</button>
								</form>
							</div>

							<div class="comments">
								<ul ui-if="currentComments().length">
									<li ng-repeat="comment in currentComments() | orderBy:'timestamp':true ">
										<ng-include src="'/assets/templates/commentStub.html'"></ng-include>
									</li>
								</ul>
								<div ui-if="!currentComments().length" class="empty">
									<p>
										No comments yet. You can be the first!
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</section>
	</div>
	<script src="@routes.Assets.at("leaflet/leaflet.js")"></script>
    <script src="@routes.Assets.at("javascripts/map-sample.js")"></script>
    
}
