@(message: String)

@main("tanod") {

	@message
		
	<h1>blue if sass works</h1>

	angularjs is {{status}}
	<section>
		<main>
			<div id="sidebar">
				<nav>
					<button>
						parent
					</button>
				</nav>

				<div class="data">
					<h2>
						Focus
					</h2>
					<ul>
						<li>
							datapoint
						</li>
					</ul>
				</div>

				<ul class="children">
					<li>
						<a href="#">
							child
						</a>
						<span>
							<i class="fa fa-star-o"></i>
						</span>
					</li>
					<li>
						<a href="#">
							child
						</a>
					</li>
					<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>
		  		<li>
		  			<a href="#">
		  				child
		  			</a>
		  		</li>

				</ul>
			</div>
		</main>
	</section>
		
}
