@(message: String)

@main("tanod") {

	@message
		
	<h1>blue if sass works</h1>

	angularjs is {{status}}
	<section>
		<main>
			<div id="sidebar">
				<nav>
					<button>
						<i class="fa fa-chevron-left"></i> {{focus.parent}}
					</button>
				</nav>

				<div class="data">
					<h2>
						{{focus.name}}
					</h2>
					<ng-include src="'/assets/templates/rateStub.html'"
					onload="item = focus"></ng-include>
					<ul>
						<li>
							{{focus.date}}
						</li>
						<li>
							{{focus.amount}}
						</li>
					</ul>
				</div>
				<div class="sort-n-filter">
					<button>
						<i class="fa fa-filter"></i>
					</button>
				</div>
				<ul class="children">
					<!--<li>
						<a href="#">
							child
						</a>
						<span>
							<i class="fa fa-star-o"></i>
						</span>
					</li>-->
					<li ng-repeat="child in children" ng-include="'/assets/templates/itemStub.html'">
						<!-- routes.controllers.Assets.at('templates/itemStub.html') -->
						<!--<a href="#">
							child
						</a>-->
						<!--pakshet-->
					</li>

				</ul>
			</div>
		</main>
	</section>
		
}
