@(currentUser: budget.models.User)

@main("about", currentUser){

<section class="splash">
	
	<h1>
		<span>Budget</span>
		<span>Badger</span>
	</h1>

	<figure>

		<div class="container">
			
			<div class="bldg bldg2"></div>
			<div class="bldg bldg1"></div>
			<img src="/assets/images/bldg3.svg" class="bldg bldg3">
			<img src="/assets/images/bldg4.svg" class="bldg bldg4">
			<div class="bldg bldg5"></div>
			<img src="/assets/images/bldg7.svg" class="bldg bldg7">
			<img src="/assets/images/bldg6.svg" class="bldg bldg6">

		</div>
		<div class="ground"></div>
	</figure>

</section>
<section class="intro">

	<p>
		Dig deep into the government’s budget, releases, projects, and works! <br>
		Learn where your taxes go, explore projects near you, and leave feedback.
	</p>
	

</section>
<article class="overview">

	<div class="container">

		<section class="explore">

			<h3>Explore <i class="fa fa-search"></i> </h3>

			<p>Find the projects you’re looking for. Filter by sector, region, or year.</p>

			<figure class="screenshot">
				<img src="/assets/images/screen-explore.png" alt="Screenshot of explore view">
			</figure>

		</section><section class="rate"> 

			<h3>Rate <i class="fa fa-star-half-o"></i></h3>

			<p>Give feedback on projects by rating them or leaving comments.</p>

			<figure class="screenshot">
				<img src="/assets/images/screen-rate.png" alt="Screenshot of explore view">
			</figure>
		</section><section class="contribute">

			<h3>Contribute <i class="fa fa-camera-retro"></i></h3>

			<p>Help locate projects by pinning them on a map, and report discrepancies.</p>

			<figure class="screenshot">
				<img src="/assets/images/screen-locate.png" alt="Screenshot of explore view">
			</figure>
		</section>

	</div>

</article>

<ul class="creators">

	<li>
		<img src="//graph.facebook.com/levi.ong/picture?type=large&amp;width=160&amp;height=160">
		<span class="name">Levi Tan Ong</span>
		<a href="http://twitter.com/levi_io" class="twitter">@@levi_io</a>
 	</li><li>
		<img src="//s.gravatar.com/avatar/660c86ff7d97b9a3fc6f89b85a164e73?s=160">
		<a href="http://about.me/philipcheang" class="name">Philip Cheang</a>
		<a href="http://twitter.com/_phi" class="twitter">@@_phi</a>
 	</li><li>
		<img src="//graph.facebook.com/syk0saje/picture?type=large&amp;width=160&amp;height=160">
		<a href="http://syk0saje.com" class="name">Pepe Bawagan</a>
		<a href="http://twitter.com/syk0saje" class="twitter">@@syk0saje</a>
 	</li><li>
		<img src="//profiles.google.com/s2/photos/profile/114569211900659254466?sz=160">
		<span class="name">Daniel Fordan</span>
		<a href="http://twitter.com/_pords" class="twitter">@@_pords</a>
 	</li>


</ul>

<article class="faq">
	
	<h2>Frequently Asked Questions</h2>

	<div class="container">
		
		<section>
			
			<h3>Who made this?</h3>

				<p>Budget Badger was built by Daniel Fordan, Pepe Bawagan, Philip Cheang, and Levi Tan Ong. Please follow us and all that. Kthnx.</p>

			<h3>Why?</h3>

				<p>Because transparency is good, silly. But seriously, Budget Badger was a product of the first <a href="http://www.rappler.com/move-ph/42132-kabantayngbayan-road-transparency-accountability">#KabantayNgBayan hackathon</a>, which made government budget data available. It's part of an initiative to make Open Data available across Philippine agencies.</p>

				<p>The first version was built in 24 hours (ish), and won first place. (Yay!)</p>

			<h3>So are you guys part of the government?</h3>

				<p>No, but we believe strongly in engaging with government and doing our own small part to help out. It so happens that we like building apps and making pretty things.</p>

				<p>If you'd like to see the data for yourself, or build your own apps that take advantage of this data, head on over to the <a href="http://www.data.gov.ph">Data.gov.ph</a> portal.</p>

			<h3>What else do you guys do?</h3>

				<p>We're part of <a href="http://byimplication.com">By Implication</a>, an independent, award-winning software and game design studio.</p>

				<p>Some of our cooler projects include <a href="http://storylark.ph">Storylark</a> (helping awesome local indie comics) and <a href="http://sari.ph">Sari Software</a> (our partner-clients, building tech for sari-sari stores and micro-entrepreneurs.)</p>

			<h3>Are you guys going to build more open data / social good apps?</h3>

				<p>Hopefully. We're looking forward to more data sets and feeds to play with.</p>

				<p>In the meantime, you can check out <a href="http://sakay.ph">Sakay.ph</a> (like Google Maps for commuting! Uses open data from DOTC, MMDA, etc.) and <a href="http://rollcall.ph">RollCall.ph</a> (Side project by Levi + Pepe. Lets you visualize congress attendance data!)</p>

			<h3>There's something wrong with your app / I'd like to help out.</h3>

				<p>Please let us know! Alternatively, if you'd like to contribute by fixing bugs, reporting issues, or submitting patches — check out the project on <a href="https://github.com/by-implication/Badger">GitHub</a>.</p>

				<p>If you want to run your own instance, please feel free! We just ask for attribution if you redistribute it, or maintain your own deployment.</p>

			<h3>I'd like to get in touch.</h3>

				<p>Sure! You can hit us up on Twitter or Facebook (see links above), or email us at <script type="text/javascript">
				//<![CDATA[

				function hiveware_enkoder(){var i,j,x,y,x=
				"x=\"b386837373d373a3b393c3e3b373c3c3c3a67393c3a6b3a3b396b3a3c383b3b6b393b3" +
				"7224d722d387\\\"=x3c3a3b3c3b393b3a3c373b36683b6b393c386b3e3b363b396b373738" +
				"6a39683b3b3a3b373c3d3b3537363a673a6b3b6b3e3b393c363b383b3e3b386b353c396b3e" +
				"3b3e3c373b3539373c3a3b3c3b393b363b373b393c3b3a6b3e3b373c3a3b3c3b393b363b37" +
				"3b3968393c383b3a3b366b373b3a3c383c3b68396b3b6b383b3b3c3b393b3a3c373b3a6837" +
				"37386a383c393c3a3b3c3b393b3a3c373b3537393c3a3c3b6b373b363b35376b3b6b3e3b39" +
				"3c363b383b3e3b386b353c396b3e3b3e3c373b3539373c3a3b3c3b393b363b373b393c3a3e" +
				"6045324e6d27747b604c2c224e70472768353837683e3737373a68363b3b673868396b3b6b" +
				"383b3a673a277978776a78733d703c2a2c2d2a657668687a637a72403e7232352e2732403e" +
				"604d697c637a61733d714c6e287c396b303d3968227f666b3928782560716363756e657d38" +
				"7b37272d397b322e74204e2e27313e6d3d3b2a6922333c3a6826696b353d29296824714564" +
				"6f63427168636e287d3a6b792b2b296b3864776e656;htgnel.x<i;0=i(rof;''=y;\\\"97" +
				"d792a6825646f63427168634d6f62766e276e696274735d3b297b3439y};))2,i(rtsbus.x" +
				"+'%'(epacsenu=+y{)2=+i\";y='';for(i=0;i<x.length;i+=85){for(j=Math.min(x.l" +
				"ength,i+85);--j>=i;){y+=x.charAt(j);}}y;";
				while(x=eval(x));}hiveware_enkoder();

				//]]>
				</script>.</p>

		</section>


	</div>

	<footer>
		
		<a href="http://byimplication.com">
			<img src="http://sakay.ph/img/byim.svg" alt="By Implication">
		</a>

	</footer>

</article>





}