@(currentUser: budget.models.User)

@main("about", currentUser){

<div class="splash">
	
	<h1>
		<span>Budget</span>
		<span>Badger</span>
	</h1>

	<figure>

		<div class="container">
			
			<div class="bldg bldg2"></div>
			<div class="bldg bldg1"></div>
			<div class="bldg bldg3"></div>
			<div class="bldg bldg4"></div>
			<div class="bldg bldg5"></div>


		</div>
		<div class="ground"></div>
	</figure>

</div>
<div class="intro">
	
	<div class="bubble">
		<h2>
			Dig deep into the government’s budget, releases, and works!
			<br>
			Learn where your taxes go, explore projects near you, and leave feedback.
		</h2>
	</div>

	<img src="/assets/images/info-dump.svg" alt="I'm so sorry, I ran out of time and had to kill a feature">

</div>


}