@(currentUser: budget.models.User)

@main("about", currentUser){

<section class="splash">
	
	<h1>
		<span>Budget</span>
		<span>Badger</span>
	</h1>

	<figure>

		<div class="container">
			
			<div class="bldg bldg2"></div>
			<div class="bldg bldg1"></div>
			<img src="/assets/images/bldg3.svg" class="bldg bldg3">
			<img src="/assets/images/bldg4.svg" class="bldg bldg4">
			<div class="bldg bldg5"></div>
			<img src="/assets/images/bldg7.svg" class="bldg bldg7">
			<img src="/assets/images/bldg6.svg" class="bldg bldg6">

		</div>
		<div class="ground"></div>
	</figure>

</section>
<section class="intro">

	<p>
		Dig deep into the government’s budget, releases, projects, and works! <br>
		Learn where your taxes go, explore projects near you, and leave feedback.
	</p>
	

</section>
<article class="overview">

	<div class="container">

		<section>

			<h3>Explore <i class="fa fa-search"></i> </h3>

			<p>Find the projects you’re looking for. Filter by sector, region, or year.</p>

			<figure class="screenshot"> Screenshot</figure>

		</section><section> 

			<h3>Rate <i class="fa fa-star-half-o"></i></h3>

			<p>Give feedback on projects by rating them or leaving comments.</p>

			<figure class="screenshot">Screenshot goes here </figure>

		</section><section>

			<h3>Contribute <i class="fa fa-camera-retro"></i></h3>

			<p>Help locate projects by pinning them on a map, and report discrepancies.</p>

			<figure class="screenshot"> Screenshot</figure>

		</section>

	</div>

</article>

<ul class="creators">

	<li>
		<img src="https://pbs.twimg.com/profile_images/3729091518/6cd7b9231c3704421bddf52b4cd2d83a.jpeg">
		<span class="name">Levi Tan Ong</span>
		<a href="http://twitter.com/levi_io" class="twitter">@@levi_io</a>
 	</li><li>
		<img src="https://pbs.twimg.com/profile_images/378800000218537539/0d021a927bf25bb0dc03ed115c512372.jpeg">
		<a href="http://about.me/philipcheang" class="name">Philip Cheang</a>
		<a href="http://twitter.com/_phi" class="twitter">@@_phi</a>
 	</li><li>
		<img src="https://pbs.twimg.com/profile_images/2397636703/vc63jkyft4wyvvd7fiax.png">
		<a href="http://syk0saje.com" class="name">Pepe Bawagan</a>
		<a href="http://twitter.com/syk0saje" class="twitter">@@syk0saje</a>
 	</li><li>
		<img src="https://pbs.twimg.com/profile_images/416623730274467840/oheiwbFD.jpeg">
		<span class="name">Daniel Fordan</span>
		<a href="http://twitter.com/_pords" class="twitter">@@_pords</a>
 	</li>


</ul>

<article class="faq">
	
	<h2>Frequently Asked Questions</h2>

	<div class="container">
		
		<section>
			
			<h3>Who made this?</h3>

				<p>Budget Badger was built by Daniel Fordan, Pepe Bawagan, Philip Cheang, and Levi Tan Ong. Please follow us and all that. Kthnx.

			<h3>Why?</h3>

				<p>Because transparency is good, silly. But seriously, Budget Badger was a product of the first #KabantayNgBayan hackathon, which made government budget data available. It's part of an initiative to make Open Data available across Philippine agencies.

				<p>The first version was built in ~24 hours, and won first place. (Yay!)

			<h3>So are you guys part of the government?</h3>

				<p>No, but we believe strongly in engaging with government and doing your own small part to help out. It so happens that we like building apps and making pretty things.

				<p>If you'd like to see the data for yourself, or build your own apps that take advantage of this data, head on over to the Data.gov.ph portal.

			<h3>What else do you guys do?</h3>

				<p>We're part of By Implication, an independent, award-winning software and game design studio.

				<p>Some of our cooler projects include Storylark (helping awesome local indie comics) and Sari Software (our partner-clients, building tech for sari-sari stores and micro-entrepreneurs.)

			<h3>Are you guys going to build more Open Data / social good apps?</h3>

				<p>Hopefully. We're looking forward to more data sets and feeds to play with.

				<p>In the meantime, you can check out Sakay.ph (Google Maps for commuting! Uses open data from DOTC, MMDA, etc.) and RollCall.ph (Side project by Levi + Pepe. Visualize congress attendance data!)

			<h3>There's something wrong with your app / I'd like to help out.</h3>

				<p>Please let us know! Alternatively, if you'd like to contribute by fixing bugs, reporting issues, or submitting patches — check out the project on GitHub.

				<p>f you want to run your own instance, please feel free! We just ask for attribution if you redistribute it, or maintain your own deployment.

			<h3>I'd like to get in touch.</h3>

				<p>Sure! You can hit us up on Twitter or Facebook (see links above), or email us at [spam-proofed-link: budgetbadger at bymiplication.com]

		</section>


	</div>




</article>





}