@(curNav: String, currentUser: budget.models.User)(content: Html)

<!DOCTYPE html>

<html ng-app="budget">
	<head>
		<meta charset="utf-8"> 
		<title>BudgetBadger</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		@*<link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.css")">*@
		<link rel="stylesheet" href="@routes.Assets.at("style.css")">
		@if(curNav == "about"){
      <link rel="stylesheet" href="@routes.Assets.at("landing.css")">
		}
		<link rel="stylesheet" href="@routes.Assets.at("leaflet/leaflet.css")">
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.timeago.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular-ui.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular-animate.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
		<script type="text/javascript">
			app.value('loggedIn', '@currentUser.handle');
			app.value('categories', @Html(budget.models.Category.json.toString));
			app.value('regions', @Html(budget.models.Location.json.toString));
			app.value('years', @Html(budget.models.Leaf.yearsJson.toString));
		</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body ng-controller="Main" ng-init="curNav = '@curNav'">
		<header>
			<nav class="left">
				<ul>
					<li ng-class="{current: curNav == 'about'}">
						<a href="@routes.Application.about" target="_self">
							about
						</a>
					</li>
					<li ng-class="{current: curNav == 'explore'}">
						<a href="@routes.Explore.index" target="_self">
							explore
						</a>
					</li>
					<!-- <li ng-class="{current: curNav == 'breakdown'}">
						<a href="@routes.Breakdown.index" target="_self">
							breakdown
						</a>
					</li> -->
				</ul>
			</nav>
			<nav class="right">
				<ul>
					<li ng-class="{current: curNav == 'signup'}">
						<a ng-if="!loggedIn" href="@routes.Account.index" target="_self">
							sign up / log in
						</a>
						<a ng-if="loggedIn" ng-cloak>
							hello, {{loggedIn}}!
						</a>
						<a ng-if="loggedIn" href="@routes.Account.logout" target="_self">
							logout
						</a>
					</li>
				</ul>
			</nav>
		</header>
		@content
		<script type="text/javascript" src="//use.typekit.net/avf0cxr.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-47280118-1', 'budgetbadger.ph');
		  ga('send', 'pageview');
		</script>
	</body>
</html>
