@(curNav: String, currentUser: budget.models.User)(content: Html)

<!DOCTYPE html>

<html ng-app="budget">
	<head>
		<title>BudgetBadger</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		@*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.css")">*@
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("style.css")">
		<link rel="stylesheet" href="@routes.Assets.at("leaflet/leaflet.css")">
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/angular-ui.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
	</head>
	<body ng-controller="Main" ng-init="
		curNav = '@curNav';
		loggedIn = @(!currentUser.isAnonymous);
	">
		<header>
			<nav class="left">
				<ul>
					<li ng-class="{current: curNav == 'about'}">
						<a href="@routes.Application.landing" target="_self">
							about
						</a>
					</li>
					<li ng-class="{current: curNav == 'map'}">
						<a href="@routes.Application.app" target="_self">
							map
						</a>
					</li>
				</ul>
			</nav>
			<nav class="right">
				<ul>
					<li ng-class="{current: curNav == 'signup'}">
						<a ui-if="!loggedIn" href="@routes.Application.account" target="_self">
							sign up / log in
						</a>
						<a ui-if="loggedIn" href="@routes.Application.logout" target="_self">
							logout
						</a>
					</li>
				</ul>
			</nav>
		</header>
		@content
	</body>
</html>
